.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  left: 110px;
  width: calc(50% - 18.5px);/* Deux colonnes avec un espace entre */
  aspect-ratio: 1/1;
}
  
.gallery-item {
  display: flex;
  height: 495px;
  width: 564px;
  overflow: hidden;
  position: relative;
  
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

  .gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    width: 570px;
    height: 500px;
  
    .gallery-title {
      position: absolute;
      bottom: 12px;
      left: 17px;
      font-family: arial;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
    }
  
    .gallery-category {
      position: absolute;
      bottom: 12px;
      right: 23px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: .2rem;
      line-height: 1;
    }
  
    .gallery-fullscreen {
      position: absolute;
      top: 11px;
      right: 18px;
      img {
        object-fit: contain;
      }
    }
  
    .gallery-single {
      img {
        object-fit: contain !important;
      }
    }
  }
  
  .gallery-item:hover .gallery-overlay {
    opacity: 1;
  }
  
  .gallery-single img,
  .gallery-fullscreen img {
    cursor: pointer;
  }

  @media (max-width: 758px) {
    .gallery {
      grid-template-columns: 1fr; /* Une seule colonne de photos */
      width: 100%; /* Occupe toute la largeur disponible */
    }
  }
