@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Abel & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  left: 15px;
}
.gallery .gallery-item {
  height: 495px;
  overflow: hidden;
  position: relative;
  left: 20px;
}
.gallery .gallery-item img {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  width: 550px;
}
.gallery-overlay .gallery-title {
  position: absolute;
  bottom: 12px;
  left: 17px;
  font-family: arial;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.gallery-overlay .gallery-category {
  position: absolute;
  bottom: 12px;
  right: 23px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1;
}
.gallery-overlay .gallery-fullscreen {
  position: absolute;
  top: 11px;
  right: 18px;
}
.gallery-overlay .gallery-fullscreen img {
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery-overlay .gallery-single img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
}

.gallery-single img,
.gallery-fullscreen img {
  cursor: pointer;
}

/*********/
body {
  margin: 0;
  overflow-x: hidden;
}

/*header*/
.menu {
  display: flex;
  margin-left: 850px;
  gap: 15px;
}
.menu li {
  list-style: none;
}

.logo {
  height: 17px;
  margin-top: 30px;
  width: 210px;
  padding-left: 60px;
}

nav {
  margin-top: -40px;
}

a {
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-weight: 200;
  color: rgb(0, 0, 0);
}

.banner {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1310px;
}

.photos {
  height: 600px;
  width: 520px;
  padding: 32px;
}

.images {
  margin-left: 75px;
  margin-top: 145px;
}

/*footer*/
.site-footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  list-style-type: none;
}

.site-footer ul li {
  flex: 1;
  text-align: center;
}

.separateur-3 {
  border-bottom: 1px solid #000;
  display: inline-block;
  width: 82em;
  margin-left: 0px;
  padding-bottom: 30px;
}

/* styles.css popup */
.popup-contact {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content-contact {
  background-image: url(/wp-content/themes/photoevent/photos/contact.png);
  background-size: 505px 645px;
  max-width: 466px;
  margin: 55px auto;
  padding: 20px;
  position: relative;
  max-height: 605px;
}

.fermer-contact {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.menu-header-container {
  margin-top: -40px;
}

#ouvrirPopupContact {
  margin-left: 1030px;
}

ul {
  list-style: none;
}

.wpcf7-form {
  margin-left: 100px;
  margin-top: 95px;
}

.wpcf7-form-control {
  border-radius: 3px;
  height: 35px;
  border: 1px solid #D8D8D8;
  width: 281px;
}

.wpcf7-textarea {
  height: 100px;
  width: 278px;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.sumitee {
  text-align: center;
}

/* acf et cpt ui*/
.post-thumbnail {
  margin-left: 44vw;
  width: 50%;
}

.post_description {
  margin-top: -26vw;
  margin-left: 55px;
}

h1 {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-size: 40px;
}

.post_description {
  font-family: "Space Mono", monospace;
}

.btn.view-all-photos.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*bouton contact single-photo*/
.styled {
  border: 0;
  line-height: 1.5;
  padding: 0 100px;
  text-align: center;
  border-radius: 3px;
  background-color: #D8D8D8;
  margin-left: 21em;
  margin-top: 35px;
}

.styled:hover {
  background-color: black;
}

h3 {
  font-family: "Space Mono", monospace;
}

h3:hover {
  color: white;
}

.separateur {
  border-bottom: 1px solid #000;
  display: inline-block;
  width: 31em;
  margin-left: 53px;
}

.entre {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 13px;
  margin-top: -143px;
  margin-left: 52px;
}

/*Vignettes photos*/
.is-interested-text {
  font-family: "poppins";
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  padding-right: 9.3em;
}

.is-interested {
  height: 118px;
  margin: 0 10%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
}

.is-interested-text-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  background-color: #D8D8D8;
  border: transparent;
  border-radius: 2px;
  font-family: "space-mono";
  font-size: 14px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.0004);
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 50px;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  background-color: black;
  color: white;
}

.is-interested-slider {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  bottom: 80px;
  right: 70px;
}

.is-interested-arrows {
  width: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-container {
  display: flex;
}

.previous-img, .next-img {
  width: 108px;
  height: 80px;
  margin-left: 10px;
}

.separateur-2 {
  border-bottom: 1px solid #000;
  display: inline-block;
  width: 74em;
  margin-left: 53px;
  padding-bottom: 30px;
}

.pp {
  font-family: "Space Mono", monospace;
  margin-left: 55px;
  padding-top: 40px;
}

h2 {
  position: relative;
  left: 30px;
}

.images-sin {
  height: 70vh;
  width: 79vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.deux-images {
  display: flex;
  margin-left: 7vh;
  gap: 20px;
}

.arrow.arrow_left {
  position: relative;
  left: 995px;
}

/*bouton single-photo-2*/
.styled-2 {
  border: 0;
  line-height: 1.5;
  padding: 0 100px;
  text-align: center;
  border-radius: 3px;
  background-color: #D8D8D8;
  margin-left: 36em;
  margin-top: 50px;
  margin-bottom: 40px;
}

.styled:hover {
  background-color: black;
}

h3 {
  font-family: "Space Mono", monospace;
}

h3:hover {
  color: white;
}

/* Sélecteur personnalisé */
.custom-select {
  position: relative;
  width: 200px;
  cursor: pointer;
  margin-left: 8em;
  margin-top: 5em;
  margin-bottom: 16em;
}

.select-header {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  border-radius: 10px;
  border-color: #d1d1d1;
}

.custom-select.open .select-header {
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
}

.select-options {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

.select-options li {
  padding: 10px;
  cursor: pointer;
}

.select-options li:hover {
  background-color: #e0e0e0;
}

/*Filtres page accueil*/
#filter-category.filter-category {
  position: relative;
  left: 35px;
  top: 41px;
  width: 260px;
  height: 42px;
  padding: 11px 18px 11px 18px;
  border-radius: 8px;
}

#filter-format.filter-format {
  position: relative;
  left: 325px;
  width: 260px;
  height: 42px;
  padding: 11px 18px 11px 18px;
  border-radius: 8px;
}

#filter-sort.filter-sort {
  position: relative;
  left: 930px;
  bottom: 40px;
  width: 260px;
  height: 42px;
  padding: 11px 18px 11px 18px;
  border-radius: 8px;
}

/*bouton page d'acceuil*/
.btn.load-more {
  display: flex;
  margin-left: 570px;
}

/*lightbox*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.photo-une {
  position: relative;
  display: inline-block;
}

.photo-une img {
  display: block;
  width: 100%;
}

.photo-une .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay .oeil {
  margin-bottom: 10px;
}

.overlay .overlay-text,
.overlay .overlay-categorie {
  position: absolute;
  bottom: 10px;
  white-space: nowrap;
}

.overlay .overlay-categorie {
  left: 10px;
}

.overlay .overlay-text {
  right: 10px;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.overlay-text, .overlay-icon, .overlay-categorie {
  color: #fff;
}

.overlay-icon {
  font-size: 2em;
}

.photo-une:hover .overlay {
  opacity: 1;
}

.overlay {
  opacity: 0 !important;
}

.photo-une:hover .overlay {
  opacity: 1 !important;
}

#lightbox {
  z-index: 9999;
}

.overlay {
  position: relative;
}

.fullscreen-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

/*mobile*/
@media screen and (max-width: 600px) {
  img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */